@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700;900&display=swap');

body {
    font-family: 'Inter', sans-serif;
    color: #272C30;
}

.btn-primary {
    background: #D81B5E;
    border: none;
    border-radius: 16px;
    padding: 12px 12px;
}

.vh-100 {
    height: 100vh;
}

.vh-50 {
    height: 50vh;
}

.w-60 {
    width: 60%!important;
}

.border-16 {
    border-radius: 16px;
}

.areas {
    margin: 2rem 0;
}

.bg-complementary {
    background: #F9FAFC;
}
.bg-complementary-second {
    background: #D81B5E;
}

#btn-registro {
    width: 25%;
}

.image-cover {
    background-image: url(../images/cover-crea.png);
    background-repeat: no-repeat;
    background-size: 50rem;
}

.bg-secondary {
    background-color: #272C30!important;
}

#crea form {
    width: 75%!important;
    padding: 4rem 2rem!important;
}

#iphone {
    left: 150px;
}

/*=============================================
TABLET HORIZONTAL (LG revisamos en 1024px)
=============================================*/

@media (max-width:1199px) and (min-width:992px){

}

/*=============================================
TABLET VERTICAL (MD revisamos en 768px)
=============================================*/

@media (max-width:991px) and (min-width:768px){

}

/*=============================================
MÓVIL HORIZONTAL (SM revisamos en 576px)
=============================================*/

@media (max-width:767px) and (min-width:576px){

}

/*=============================================
MOVIL VERTICAL (revisamos en 320px)
=============================================*/

@media (max-width:575px){
    #crea form {
        width: 100%!important;
        margin: 1rem 0rem 4rem 0;
    }

    .image-cover {
        background-color: #D81B5E;
        background-image: none;
        color: #fff;
    }

    #btn-registro {
        width: 100%;
    }

    .vh-mobile-100 {
        height: auto!important;
    }
}